table {
	border-collapse: collapse;
	width: 100%;
	max-width: 800px;
	margin: auto;
	background-color: blue; /* Mudança na cor de fundo da tabela */
  }
  
  th, td {
	border: 1px solid black;
	padding: 8px;
  }
  
  th {
	text-align: left;
	color: white; /* Mudança na cor do texto dos cabeçalhos */
  }
  
  .warning {
	background-color: red;
	color: white;
	font-weight: bold;
  }
  